# OS側で作成されるファイルの除外
*.DS_Store

# Vimの編集時に作成されるファイルの除外
*.swp

# rbenvで作成されるファイルの除外
.ruby-version

# Bundlerで作成されるファイルの除外
/.bundle
/vendor/bundle

# キャッシュフォルダ内のファイルの除外
getchuya_scraping/cache

# 作成フォルダ内のファイルの除外
getchuya_scraping/created

# IntelliJ IDEAが作成するファイルの除外
/.idea

# vcrが作成するファイルの除外
/spec/vcr

# config.jsonの除外設定
/spreadsheet/google_drive_config.json
